body{
    background: #31352c;
    font-family: 'Bevan';
}

h1{
    font-size: 15px;
    color: #fff;
    text-transform: lowercase;
    text-align: center;
    text-shadow: 0 -4px 0 #111;
}

#controller{
    width: 100%;
    height: 200px;
}

#controller td{
    color: #fff;
    padding: 10px;
    border-bottom: 10px solid rgba(255,255,255, 0.5);
    width: 50%;
}

#throttle{
    background: #59B8E6;
}

#fire{
    background: #e23520;
}
